body, html {
    padding: 0;
    margin: 0;
    background-color: #14171b;
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.star-container {
    pointer-events: none;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 100px;
    left: 100px;
    
}

.star-svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.star-path {
    fill: rgb(228, 194, 4);
    stroke: rgb(228, 138, 4);
    stroke-width: 5;
    stroke-linecap: round;
}

.star-1 { animation: starAnimation1 1.4s linear forwards; }
.star-2 { animation: starAnimation2 1.4s linear forwards; }
.star-3 { animation: starAnimation3 1.4s linear forwards; }
.star-4 { animation: starAnimation4 1.4s linear forwards; }

@keyframes starAnimation1 {
    0% { opacity: 0; transform: scale(1) translate(0px, 0px) rotate(0deg); }
    15% { opacity: 1; transform: scale(0.85) translate(-3px, 3px) rotate(54deg); }
    60% { opacity: 1; transform: scale(0.4) translate(-12px, 12px) rotate(216deg); }
    100% { opacity: 0.5; transform: scale(0) translate(-20px, 20px) rotate(360deg); }
}

@keyframes starAnimation2 {
    0% { opacity: 0; transform: scale(1) translate(0px, 0px) rotate(0deg); }
    15% { opacity: 1; transform: scale(0.85) translate(-3px, -3px) rotate(54deg); }
    60% { opacity: 1; transform: scale(0.4) translate(-12px, -12px) rotate(216deg); }
    100% { opacity: 0.5; transform: scale(0) translate(-20px, -20px) rotate(360deg); }
}

@keyframes starAnimation3 {
    0% { opacity: 0; transform: scale(1) translate(0px, 0px) rotate(0deg); }
    15% { opacity: 1; transform: scale(0.85) translate(3px, -3px) rotate(-54deg); }
    60% { opacity: 1; transform: scale(0.4) translate(12px, -12px) rotate(-216deg); }
    100% { opacity: 0.5; transform: scale(0) translate(20px, -20px) rotate(-360deg); }
}

@keyframes starAnimation4 {
    0% { opacity: 0; transform: scale(1) translate(0px, 0px) rotate(0deg); }
    15% { opacity: 1; transform: scale(0.85) translate(3px, 3px) rotate(-54deg); }
    60% { opacity: 1; transform: scale(0.4) translate(12px, 12px) rotate(-216deg); }
    100% { opacity: 0.5; transform: scale(0) translate(20px, 20px) rotate(-360deg); }
}
