body, html {
    margin: 0px;
    padding: 0px;
    background-color: #001a33;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    
}